.polices-check{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.polices-check input{
    border: solid 1px #F3705A
}
.polices-check p{
    margin: 0px;
}
.return-btn{
    background-color: #792bdf;
    margin-top: 1em;
    width: 40%;
    height: 1.2em;
    text-align: center;
    padding-bottom: 0.2em;
    border-radius: 5px;
    border: 0px;
    color: floralwhite;
}
.login-btn{
    margin-top: 1em;
    width: 40%;
    height: 2em;
}
.form{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}